{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

<div class="first-container container">
    <h1>You are Logged in !</h1>
    <p>{{app.user.email}}</p>
</div>
{% endblock %}
