{% extends 'base.html.twig' %}

{% block body %}

    <div class="centered-container">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header bg-white text-center">
                            <h2>Sign Up</h2>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <form method="post">
                                   
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="form-row justify-content-center">
                                        <div class="col-sm-8 form-group">
                                            <label for="inputEmail">Email<span class="text-danger">*</span></label>
                                            <input type="email" value="" name="email" id="inputEmail"
                                                class="form-control" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="col-sm-8 form-group">
                                            <label for="inputPassword">Password<span class="text-danger">*</span></label>
                                            <input type="password" name="password" id="inputPassword" class="form-control"
                                                required>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="col-sm-8 form-group">
                                            <label for="inputPassword">Confirm password<span class="text-danger">*</span></label>
                                            <input type="password" name="confirm" id="inputPassword" class="form-control"
                                                required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row justify-content-center">
                                        <div class="col-sm-8 form-group">
                                            <button class="btn btn-success btn-block" type="submit">Sign up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}