{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="centered-container landing-page">
    <div class="first-container container text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="display-3">Design Your Event</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-success">Event Management</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
